$darkmode: True;
$transparent: True;
$primary_paletteKeyColor: #907325;
$secondary_paletteKeyColor: #847656;
$tertiary_paletteKeyColor: #617F60;
$neutral_paletteKeyColor: #7D766B;
$neutral_variant_paletteKeyColor: #7E7667;
$background: #16130B;
$onBackground: #EAE1D4;
$surface: #16130B;
$surfaceDim: #16130B;
$surfaceBright: #3D392F;
$surfaceContainerLowest: #110E07;
$surfaceContainerLow: #1F1B13;
$surfaceContainer: #231F17;
$surfaceContainerHigh: #2E2921;
$surfaceContainerHighest: #39342B;
$onSurface: #EAE1D4;
$surfaceVariant: #4D4639;
$onSurfaceVariant: #D0C5B4;
$inverseSurface: #EAE1D4;
$inverseOnSurface: #343027;
$outline: #989080;
$outlineVariant: #4D4639;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #E6C26C;
$primary: #E6C26C;
$onPrimary: #3E2E00;
$primaryContainer: #5A4400;
$onPrimaryContainer: #FFDF96;
$inversePrimary: #755B0B;
$secondary: #D6C5A0;
$onSecondary: #3A2F15;
$secondaryContainer: #54482C;
$onSecondaryContainer: #F5E2BC;
$tertiary: #AFCFAC;
$onTertiary: #1B361D;
$tertiaryContainer: #7A9978;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDF96;
$primaryFixedDim: #E6C26C;
$onPrimaryFixed: #251A00;
$onPrimaryFixedVariant: #5A4400;
$secondaryFixed: #F3E1BB;
$secondaryFixedDim: #D6C5A0;
$onSecondaryFixed: #231A04;
$onSecondaryFixedVariant: #51452A;
$tertiaryFixed: #CAEBC6;
$tertiaryFixedDim: #AFCFAC;
$onTertiaryFixed: #05210A;
$onTertiaryFixedVariant: #314D32;
