$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FC7200;
$secondary_paletteKeyColor: #976F4A;
$tertiary_paletteKeyColor: #967032;
$neutral_paletteKeyColor: #887369;
$neutral_variant_paletteKeyColor: #8B7265;
$background: #1D1009;
$onBackground: #F8DDD1;
$surface: #1D1009;
$surfaceDim: #1D1009;
$surfaceBright: #46362D;
$surfaceContainerLowest: #170B05;
$surfaceContainerLow: #261811;
$surfaceContainer: #2B1C15;
$surfaceContainerHigh: #36271F;
$surfaceContainerHighest: #423129;
$onSurface: #F8DDD1;
$surfaceVariant: #574237;
$onSurfaceVariant: #DFC0B2;
$inverseSurface: #F8DDD1;
$inverseOnSurface: #3D2D25;
$outline: #A68B7E;
$outlineVariant: #574237;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB68F;
$primary: #FFB68F;
$onPrimary: #542100;
$primaryContainer: #773200;
$onPrimaryContainer: #FFDBCA;
$inversePrimary: #9C4400;
$secondary: #EEBD92;
$onSecondary: #472A0A;
$secondaryContainer: #613F1F;
$onSecondaryContainer: #FFDCC0;
$tertiary: #EEBF78;
$onTertiary: #432C00;
$tertiaryContainer: #B38A49;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDBCA;
$primaryFixedDim: #FFB68F;
$onPrimaryFixed: #331200;
$onPrimaryFixedVariant: #773200;
$secondaryFixed: #FFDCC0;
$secondaryFixedDim: #EEBD92;
$onSecondaryFixed: #2D1600;
$onSecondaryFixedVariant: #613F1F;
$tertiaryFixed: #FFDDAF;
$tertiaryFixedDim: #EEBF78;
$onTertiaryFixed: #281800;
$onTertiaryFixedVariant: #604103;
