* {
    border: none;
    border-radius: 0;
    font-family: "CaskaydiaCove Nerd Font Mono";
    font-weight: 800;
    font-size: 26px;
    min-height: 0;
    color: @fg-text;
    padding: 0;
}

window#waybar {
    border-radius: 8px;
    background: transparent;
}

#waybar>box {
    border-radius: 8px;
    margin: 8px 8px 8px 12px;
    background: @bg-bar;
    box-shadow: 0px 0px 4px 2px @bg-dark;
}

tooltip {
    background: @bg-bar;
    font-size: 10px;
    border-radius: 8px;
}

tooltip label {
    font-size: 10px;
}



#custom-launch_wofi {
    background: @bg-dark;
    padding: 6px 0px;
    border-radius: 8px 8px 0 0;
}




#workspaces {
    margin-top: 4px;
    background: transparent;
}

#workspaces button {}

#workspaces button.active label {
    color: @fg-text;
    padding: 0;
    margin: 0;
}

#workspaces button label {
    color: @bg-dark;
    padding: 0;
    margin: 0;

    font-size: 16px;
}

#workspaces button:hover {
    background: transparent;
    color: transparent;
}


#clock {
    font-size: 16px;
}

#custom-music {
    font-size: 20px;
    margin: 12px 0;
}

#custom-music.Playing {
    color: @fg-text;
}

#custom-music.Paused,
#custom-music.Stopped {
    color: @bg-dark;
}

#pulseaudio.icon {
    font-family: "FuraMono Nerd Font";
    font-size: 13px;
    padding-right: 2px;
}

#pulseaudio {
    font-size: 10px;
}

#pulseaudio.microphone_icon {
    font-family: "FuraMono Nerd Font";
    font-size: 13px;
    padding: 8px 0 0 0;
}

#pulseaudio.microphone {
    margin-bottom: 8px;
}

#tray {
    padding: 12px 0 6px 0;
    background: @bg-dark;
}

#tray menu label {
    font-size: 10px;
}

#custom-colorpicker {
    font-size: 20px;
    background: @bg-dark;
    padding: 4px 0 1px 0;
}

#custom-reload_icons {
    font-size: 20px;
    background: @bg-dark;
    padding: 1px 0;
}


#custom-theme_switcher {
    font-size: 20px;
    background: @bg-dark;
    padding: 1px 0;
}

#custom-wallpaper {
    font-size: 20px;
    background: @bg-dark;
    padding: 1px 0;
}

#custom-theme {
    font-size: 20px;
    background: @bg-dark;
    padding: 1px 0;
}

#custom-power_btn {
    background: @bg-dark;
    font-size: 20px;
    border-radius: 0 0 8px 8px;
    padding: 1px 0 4px 0;
}